
/*******************************************************************************
 *                                                                             *
 * Buttons                                                                 *
 *                                                                             *
 ******************************************************************************/

.button {
    -fx-background-radius: 20;
    -fx-font-family:"Arial";
    -fx-font-size: 12px;
    -fx-text-fill: white;
    /*-fx-background-color: Linear-gradient(#9EA7E5, #61a2b1);*/
    -fx-background-color: Linear-gradient(#4DC9FF, #0A91FF);
    -fx-cursor: hand;
}

.button2 {
    -fx-text-fill:white;
    -fx-padding: 15 30 15 30;
    -fx-font-family: "Helvetica";
    -fx-font-size: 18px;
    -fx-font-weight: bold;

    -fx-background-color:
            linear-gradient(#686868 0%, #232723 25%, #373837 75%, #757575 100%),
            linear-gradient(#020b02, #3a3a3a),
            linear-gradient(#9d9e9d 0%, #6b6a6b 20%, #343534 80%, #242424 100%),
            linear-gradient(#8a8a8a 0%, #6b6a6b 20%, #343534 80%, #262626 100%),
            linear-gradient(#777777 0%, #606060 50%, #505250 51%, #2a2b2a 100%);
    -fx-background-insets: 0,1,4,5,6;
    -fx-background-radius: 9,8,5,4,3;
}

.button:hover {
    -fx-background-radius: 20;
    -fx-font-family:"Arial";
    -fx-font-size: 12px;
    /*-fx-background-color: Linear-gradient(#99EBFF, #e6faff);*/
    -fx-background-color: Linear-gradient(#0703FF, #7081FF);
}

/*******************************************************************************
 *                                                                             *
 * Text Input                                                                *
 *                                                                             *
 ******************************************************************************/
/*
.text-input {
    /*-fx-text-fill: #000000;
    -fx-font-family: 'Helvetica';
}
*/
.heading {
    -fx-font-size: 24px;
    -fx-font-weight: bold;
    -fx-text-fill: Linear-gradient(#4DC9FF, #0A91FF);
    -fx-text-box-border: transparent;
    -fx-focus-color: transparent;
    -fx-background-color: none;
    -fx-faint-focus-color: transparent;
}

.text-area *.text {
    -fx-text-alignment: center;
}

.system-output *.text {
    -fx-text-alignment: left;
}

.test-passed {
    -fx-text-fill: green;
    -fx-font-size: 32px;
    -fx-font-weight: bold;
}

.test-failed {
    -fx-text-fill: red;
    -fx-font-size: 32px;
    -fx-font-weight: bold;
}

/*******************************************************************************
 *                                                                             *
 * Anchorpanel / Splitpanel                                                                *
 *                                                                             *
 ******************************************************************************/
/*
.anchorpane {
   -fx-background-color: #000000;
}


.anchorpane .content {
   -fx-background-color: #000000;
}
*/

.anchorpane .border {
   -fx-border-color: black;
}
.split-pane {
    -fx-background-color: #FFFFFF;
}

.text-area {
    /*-fx-background-color: #8fbc8f;*/
    -fx-font-family: 'Helvetica';
    -fx-font-size: 12px;
    -fx-background-color: #FFF, #FFF;
    /*scrollbar-face-color: #ff8c00; */
}

.text-area .content {
    -fx-background-color: #FFF;
}

.text-area:focused .content {
    -fx-background-color: #FFF;
}

.UI-text {
    -fx-font-family: 'Helvetica';
    -fx-font-size: 16px;
}
/*
.text-area .scroll-bar:horizontal.thumb {
    -fx-background-color: #3399ff;
}
*/
/*
.text-area > .scroll-pane:horizontal.thumb {
    -fx-background-colour: #3399ff;
}
*/
/*
.text-area .content {
    -fx-background-color: #8fbc8f;
}
*/
/*******************************************************************************
 *                                                                             *
 * ComboBox                                                                 *
 *                                                                             *
 ******************************************************************************/

.combo-box .list-cell
{
    -fx-text-fill: -fx-text-base-color;
    -fx-padding: 3 0 2 7;
}

.combo-box-popup .list-view
{
    -fx-background-color: white, white;
    -fx-background-insets: 0, 1;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 8, 0.0 , 0 , 0 );
}

.combo-box-popup .list-view .list-cell
{
    -fx-padding: 4 0 4 5;

    /* No alternate highlighting */
    -fx-background-color: white;
}

.combo-box-popup .list-view .list-cell:filled:selected, .combo-box-popup .list-view .list-cell:filled:selected:hover
{
    -fx-background: -fx-accent;
    -fx-background-color: -fx-selection-bar;
    -fx-text-fill: -fx-selection-bar-text;
}

.combo-box-popup .list-view .list-cell:filled:hover
{
    -fx-background-color: white;
    -fx-text-fill: -fx-text-inner-color;
}

.combo-box-base
{
    /*-fx-skin: "com.sun.javafx.scene.control.skin.ComboBoxBaseSkin";*/
    -fx-background-radius: 5, 5, 4, 3;
    -fx-background-insets: 0 0 -1 0, 0, 1, 2;
    -fx-padding: 0;
}

.combo-box-base:hover
{
    -fx-color: -fx-hover-base;
}

.combo-box-base:showing
{
    -fx-color: -fx-pressed-base;
}

.combo-box-base:focused {
    -fx-background-color: -fx-focus-color, -fx-outer-border, -fx-inner-border, -fx-body-color;
    -fx-background-radius: 6.4, 4, 5, 3;
    -fx-background-insets: -1.4, 0, 1, 2;
}

.combo-box-base:disabled {
    -fx-opacity: .4;
}

/*******************************************************************************
 *                                                                             *
 * Progress Bar                                                                *
 *                                                                             *
 ******************************************************************************/

.progress-bar > .bar {
    -fx-background-color: linear-gradient(
            from 0px .75em to .75em 0px,
            repeat,
            -fx-accent 0%,
            -fx-accent 49%,
            derive(-fx-accent, 30%) 50%,
            derive(-fx-accent, 30%) 99%
    );
}

.progress-bar:status1 > .bar {
    -fx-background-color: linear-gradient(
            from 0em 0.75em to 0.75em 0px,
            repeat,
            -fx-accent 0%,
            -fx-accent 49%,
            derive(-fx-accent, 30%) 50%,
            derive(-fx-accent, 30%) 99%
    );
}
.progress-bar:status2 > .bar {
    -fx-background-color: linear-gradient(
            from 0.25em 0.75em to 1em 0px,
            repeat,
            -fx-accent 0%,
            -fx-accent 49%,
            derive(-fx-accent, 30%) 50%,
            derive(-fx-accent, 30%) 99%
    );
}
.progress-bar:status3 > .bar {
    -fx-background-color: linear-gradient(
            from 0.5em 0.75em to 1.25em 0px,
            repeat,
            -fx-accent 0%,
            -fx-accent 49%,
            derive(-fx-accent, 30%) 50%,
            derive(-fx-accent, 30%) 99%
    );
}
.progress-bar:status4 > .bar {
    -fx-background-color: linear-gradient(
            from 0.75em 0.75em to 1.5em 0px,
            repeat,
            -fx-accent 0%,
            -fx-accent 49%,
            derive(-fx-accent, 30%) 50%,
            derive(-fx-accent, 30%) 99%
    );
}
.progress-bar:status5 > .bar {
    -fx-background-color: linear-gradient(
            from 1em 0.75em to 1.75em 0px,
            repeat,
            -fx-accent 0%,
            -fx-accent 49%,
            derive(-fx-accent, 30%) 50%,
            derive(-fx-accent, 30%) 99%
    );
}
.progress-bar:status6 > .bar {
    -fx-background-color: linear-gradient(
            from 1.25em 0.75em to 2em 0px,
            repeat,
            -fx-accent 0%,
            -fx-accent 49%,
            derive(-fx-accent, 30%) 50%,
            derive(-fx-accent, 30%) 99%
    );
}
.progress-bar:status7 > .bar {
    -fx-background-color: linear-gradient(
            from 1.5em 0.75em to 2.25em 0px,
            repeat,
            -fx-accent 0%,
            -fx-accent 49%,
            derive(-fx-accent, 30%) 50%,
            derive(-fx-accent, 30%) 99%
    );
}
.progress-bar:status8 > .bar {
    -fx-background-color: linear-gradient(
            from 1.75em 0.75em to 2.5em 0px,
            repeat,
            -fx-accent 0%,
            -fx-accent 49%,
            derive(-fx-accent, 30%) 50%,
            derive(-fx-accent, 30%) 99%
    );
}
.progress-bar:status9 > .bar {
    -fx-background-color: linear-gradient(
            from 2em 0.75em to 2.75em 0px,
            repeat,
            -fx-accent 0%,
            -fx-accent 49%,
            derive(-fx-accent, 30%) 50%,
            derive(-fx-accent, 30%) 99%
    );
}
.progress-bar:status10 > .bar {
    -fx-background-color: linear-gradient(
            from 2.25em 0.75em to 3em 0px,
            repeat,
            -fx-accent 0%,
            -fx-accent 49%,
            derive(-fx-accent, 30%) 50%,
            derive(-fx-accent, 30%) 99%
    );
}
.progress-bar:status11 > .bar {
    -fx-background-color: linear-gradient(
            from 2.5em 0.75em to 3.25em 0px,
            repeat,
            -fx-accent 0%,
            -fx-accent 49%,
            derive(-fx-accent, 30%) 50%,
            derive(-fx-accent, 30%) 99%
    );
}
.progress-bar:status12 > .bar {
    -fx-background-color: linear-gradient(
            from 2.75em 0.75em to 3.5em 0px,
            repeat,
            -fx-accent 0%,
            -fx-accent 49%,
            derive(-fx-accent, 30%) 50%,
            derive(-fx-accent, 30%) 99%
    );
}
/*
::-webkit-scrollbar-thumb {
    -fx-background-color: #3399ff;
    -fx-background-insets: 0, 0, 0;
    -fx-background-radius: 0em;
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}
*/
#systemText {
    -fx-font: normal normal 13 "Consolas";
    -fx-text-fill: white;
    -fx-background-color: black;
}
#systemText .content {
    -fx-background-color: black;
}